@bit:registry=https://node.bit.dev
//node.bitsrc.io/:_authToken=6bc110b5-0f0d-46a0-a340-515969d4c986
//node.bit.dev/:_authToken=6bc110b5-0f0d-46a0-a340-515969d4c986
@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=7F17A258-189E-4303-A139-F28114C7FE15