.icontomodal {
  margin-left: 0.3rem;
}
.tooltip {
  font-size: 0.3rem;
}
.pointer {
  cursor: pointer;
}
.panel {
  bottom: inherit;
  left: inherit;
  background-color: #534c55;
  color: white;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
