.generar-contrato-container {
  .download__pdf {
    padding: 1rem;
    a {
      margin: 0rem 5px;
      background: #0069aa;
      padding: 0.5rem;
      border-radius: 5px;
      color: #fff;
    }
  }
}
