.progress {
  border: 2px solid #1a2543;
  height: 1.5rem !important;
}
.progress-bar {
  background-color: #00d8ac !important;
}

.import__title {
  color: #1a2543;
  margin: 0;
}
.import__text {
  font-size: 0.8rem;
}
