@import '../../styles/component-styles.scss';

.cuentas--page {
  .cuentas__table {
    .header-table {
      .button--add-bank-account {
        @include for-phone {
          margin-top: 10px;
          margin-bottom: 10px;
          width: 3rem;
        }
      }
    }
    .g-button.g-button-disabled {
      cursor: default;
      box-shadow: none;
    }
    .g-tooltip_trigger {
      .icon-only-button {
        padding: 1rem 1.5rem !important;
      }
    }
    .p-sortable-disabled:nth-child(3),
    .p-sortable-disabled:nth-child(4) {
      text-align: center !important;
    }

    .p-datatable .p-datatable-wrapper table td:last-child,
    .p-datatable .p-datatable-wrapper table th:last-child {
      padding: 1rem 2.5rem;
      justify-content: flex-end;
    }
    .datatable-component .p-selectable-row {
      align-items: center;
    }
  }
}
