.pras-module {
  text-align: center;
  height: 100%;
}

.p-tabmenu .p-tabmenu-nav {
  height: 100%;
  .p-tabmenuitem {
    display: flex;
  }
}
.pras-module__content-container {
  display: flex;
  flex-direction: column;
  height: calc(100% - 90px);
  .pras-module__content-child {
    background-color: #f4f7fa;
    height: 100%;
    padding: 24px;
    overflow-y: auto;
  }
  .g-tabview {
    height: 100%;
    display: flex;
    flex-direction: column;
    .g-tabview-panels {
      height: calc(100% - 80px);
    }
  }
}

.ico__section {
  .header {
    margin-bottom: 27px;
    .title {
      font-weight: 500;
      font-size: 21px;
      line-height: 24.61px;
      color: #222222;
    }
  }
  .ico__content {
    .ico-info__container {
      text-align: left;
      background-color: #ffffff;
      box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.08);
      border-radius: 4px;
      margin-bottom: 16px;
      padding: 16px 24px;
      .g-flex {
        display: flex;
        flex-wrap: wrap;
        .flex-item {
          width: 100%;
          flex: 50%;
          margin-bottom: 10px;
        }
      }
      .title {
        margin-right: 2px;
        color: #0069aa;
        font-weight: 600;
      }
    }
  }
}

.pras-module__content-child {
  .g-accordionTab-wrapper
    .g-resume-wrapper
    .g-accordion-title-wrapper
    .g-accordion-title {
    text-align: left;
    padding: 20px;
    border: 1px solid #d3d3d3;
  }
}
