table {
  tfoot.p-datatable-tfoot {
    background-color: white !important;
    tr {
      border-top: 1px solid #f8f8f8;
      background-color: white !important;
      td {
        background-color: white !important;
        border: none;
        &:first-child {
          padding-left: 20px !important;
        }
        &:last-child {
          padding-right: 20px !important;
        }
      }
    }
  }
  .p-datatable-tbody > tr {
    &.p-datatable-emptymessage {
      td {
        font-family: Roboto, sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 24px !important;
        text-align: center;
        color: transparentize(#222222, 0.5) !important;
      }
      background-color: #f8f8f8;
      &:hover {
        background-color: #f8f8f8 !important;
      }
    }
  }
}

.actions-table {
  display: flex;
  justify-content: space-between;
}

.p-datatable {
  .p-datatable-wrapper {
    @include for-phone {
      padding-bottom: 64px;
    }
    .p-datatable-tbody {
      @include for-phone {
        background-color: #f8f9fa;
      }
      tr {
        &.p-highlight {
          @include for-phone {
            background-color: white;
          }
        }
        &:not(.p-highlight) {
          &:hover {
            @include for-phone {
              background-color: white !important;
            }
          }
        }
        @include for-phone {
          display: flex;
          align-items: center;
          margin-bottom: 2px;
        }
        td {
          @include for-phone {
            padding: 0.5rem 0.5rem;
          }
          .p-column-title {
            display: none;
            @include for-phone {
              display: block;
            }
          }
          .p-row-toggler {
            &.p-link {
              @include for-phone {
                box-shadow: none;
                background-color: white;
              }
            }
          }
        }
      }
    }
    .p-row-expanded {
      @include for-phone {
        background-color: white;
        border-top: 1px dashed rgba(0, 0, 0, 0.2);
      }
      td {
        @include for-phone {
          padding: 0;
          background-color: white;
        }
        .p-datatable {
          .p-datatable-wrapper {
            @include for-phone {
              margin-top: 0;
              padding-bottom: unset;
            }
            .p-datatable-tbody {
              @include for-phone {
                padding: 0;
                background-color: white;
                padding-bottom: 0px;
              }
              tr {
                td {
                  .p-column-title {
                    @include for-phone {
                      color: $app-color;
                      font-size: 14px;
                      border-color: white;
                    }
                  }
                }
                @include for-phone {
                  border: none;
                  border-color: white;
                }
              }
            }
          }
        }
      }
    }
  }
  .p-datatable-footer {
    display: none;
    width: 100% !important;
    background-color: white;
    box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.08);
    .responsive-footer {
      display: flex;
      justify-content: space-around;
      @include for-phone {
        align-items: center;
      }
    }
    @include for-phone {
      padding: 10px;
      height: 64px;
      display: block;
      position: fixed;
      bottom: 0;
      color: black;
    }
  }
}
