.pagare-info__container {
  .pagare-info__header {
    display: flex;
    justify-content: space-between;
    p {
      font-weight: 500;
      font-size: 21px;
      color: #1a2543;
    }
  }
  .pagare-info__company {
    font-weight: 500;
    color: #1a2543;
  }
  .p-divider.p-divider-horizontal {
    margin: -1rem 0rem 1rem 0rem;
  }
}
