.detalle-operaciones-informe {
  max-height: 160px;
  .turbotable-detalle-operaciones {
    .turbo-table__header-left-section {
      .title-h2 {
        color: #222222;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
      }
    }
  }
}
