@import "../../styles/component-styles.scss";

.gestion-contactos__page {
  height: 85vh;
  .p-datatable {
    .p-datatable-scrollable-body {
      .p-datatable-scrollable-body-table {
        .p-datatable-tbody {
          tr {
            @include for-laptops-and-rest {
              display: flex;
            }
            .actions--column {
              display: block;
              float: right;
              .g-tooltip_trigger {
                margin-right: 16px;
                .g-button {
                  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25),
                    inset 0px 1px 1px rgba(0, 0, 0, 0.03),
                    inset 0px -1px 1px rgba(0, 0, 0, 0.1);
                  border-radius: 4px;
                  width: 40px;
                  height: 40px;
                }
              }
            }
          }
        }
      }
    }
    .turbo-table__header
      .turbo-table__header-left-section
      .turbo-table__header-title {
      @include for-phone {
        font-size: 18px;
      }
    }
  }
}

.dialog_background-container {
  &.contacto-form__dialog {
    .dialog_content {
      width: 40%;
      height: 80%;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      padding-right: 16px;

      @include for-laptops {
        height: 100% !important;
        width: 100%;
      }
      @include for-tablet {
        height: 100%;
        width: 100%;
      }
      @include for-phone {
        height: 100% !important;
        width: 100%;
      }
      .dialog_header {
        .header_right {
          .icon-only-button {
            right: -10px;
          }
        }
      }
      .contacto__fields {
        overflow-x: hidden;
        overflow-y: auto;
        padding-right: 20px;
        height: 100%;
        padding-bottom: 10px;
        @include for-tablet {
          padding-right: 12px;
        }
        @include for-phone {
          padding-right: 0;
        }
        .contacto-form__content {
          padding: 3px;
        }
      }
    }
  }
}
